---
layout: default
---

{% for post in paginator.posts %}
  <div class="article-wrap">
    <div class="article">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      <div class="info">
        <div class="date">Kirjoitettu: {{ post.date | date: "%d.%m.%Y %H:%M" }}</div>
        <div class="tags">Tagit: {% for tag in post.tags %}<div class="tag">{{ tag }}, </div>{% endfor %}</div>
      </div>
      {% if post.image %}
        <div class="article-image">
          <a href="{{ post.url | relative_url }}">
            <amp-img src="{{ post.image.file }}" alt="{{ post.image.text }}" width="4" height="3" layout="responsive">
              <noscript><img src="{{ post.image.file }}" alt="{{ post.image.text }}" /></noscript>
            </amp-img>
          </a>
        </div>
      {% endif %}
      <div class="story">
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Lue koko kirjoitus...</a>
      </div>
    </div>
  </div>
{% endfor %}

<div class="pagination">
  <div class="prev">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&#8656; Edellinen</a>
  {% else %}
    <span class="previous">&#8656; Edellinen</span>
  {% endif %}
  </div>
  <div class="pages">
    <span class="page_number ">Sivu {{ paginator.page }} / {{ paginator.total_pages }}</span>
  </div>
  <div class="next">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Seuraava &#8658;</a>
  {% else %}
    <span class="next">Seuraava &#8658;</span>
  {% endif %}
  </div>
</div>
