---
layout: default
---

{% for post in paginator.posts %}
  <div class="article">
    <section class="header {% if post.image %}with-image{% endif %}" {% if post.image %}style="background-image: url({{ post.image }});"{% endif %}>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      <p class="descript">
          {{ post.date | date: "%d.%m.%Y %H:%M" }}<br />
          {% for tag in post.tags %} {{ tag }} {% endfor %}
      </p>
    </section>

    <section>
      {{ post.excerpt }}
      <a href="{{ post.url | relative_url }}">Lue koko kirjoitus...</a>
    </section>

  </div>
{% endfor %}

<section>
  <div class="pagination">
    <div class="prev">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&#8656; Edellinen</a>
    {% else %}
      <span class="previous">&#8656; Edellinen</span>
    {% endif %}
    </div>
    <div class="pages">
      <span class="page_number ">Sivu {{ paginator.page }} / {{ paginator.total_pages }}</span>
    </div>
    <div class="next">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Seuraava &#8658;</a>
    {% else %}
      <span class="next">Seuraava &#8658;</span>
    {% endif %}
    </div>
  </div>
</section>

<script>
  console.log('test', window.location.hostname)
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js', { scope: '/' })
      .then(function(registration) {
        console.log('Service Worker Registered');
      });

    navigator.serviceWorker.ready.then(function(registration) {
      console.log('Service Worker Ready');
    });
  }
</script>
