---
---

$text-color: #000;

$html-background-color: #ccc;
$body-background-color: #34505f;

$sidebar-color: #fff;

$content-background-color: #fff;

$article-info-color: #777;

$heading-color: #404040;
$link-color: #ce1433;

html {
  background-color: $html-background-color;
}

body {
  color: $text-color;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $body-background-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $heading-color;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 40px;
  line-height: 46px;
}

.container {
  display: flex;
  height: 100%;

  .left {
    nav {
      height: 100%;
      width: 400px;
      color: $sidebar-color;

      a {
        color: #fff;
      }

      .logo {
        h1 {
          font-size: 35px;
        }

        padding: 20px;
        text-align: center;
      }
    }
  }

  .right {
    height: 100%;
    background-color: $content-background-color;

    .content {
      height: 100%;
      width: 800px;
      margin: 50px;

      .article {
        h1 {
          text-transform: uppercase;
          a {
            color: $heading-color;
          }
        }

        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: solid 1px $article-info-color;

        .info {
          margin-top: 30px;
          margin-bottom: 30px;
          padding-bottom: 30px;
          border-bottom: solid 1px $article-info-color;
          color: $article-info-color;

          .date {
            display: inline;
          }

          .categories {
            display: inline;
          }
        }

        .story {
          font-size: 16px;
          line-height: 25px;
        }

        .article-image {
          img {
            max-width: 750px;
          }
        }
      }
    }
  }
}
