---
---
$body-background-color: #2a5062;
$body-color: #fff;
$line-color: #fff;
$intro-background-color: #24404f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $body-background-color;
  color: $body-color;
  font: normal 16px/1.5 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.intro {
  padding: 50px 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
}

ul {
  background: $body-background-color;
  padding: 50px 0;

  li {
    background: $line-color;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 6px;

    ::after {
      transition: background .5s ease-in-out;
    }

    .in-view {
      ::after {
        background: $intro-background-color;
      }
    }

    &:nth-child(odd) {
      div {
        left: 45px;
        transform: translate3d(200px, 0, 0);

        ::before {
          border-color: transparent $intro-background-color transparent transparent;
          border-width: 8px 16px 8px 0;
          left: -15px;
        }
      }
    }

    &:nth-child(even) {
      div {
        left: -439px;
        transform: translate3d(-200px, 0, 0);

        ::before {
          border-color: transparent transparent transparent $intro-background-color;
          border-width: 8px 0 8px 16px;
          right: -15px;
        }
      }
    }

    &::after {
      background: inherit;
      border-radius: 50%;
      bottom: 0;
      content: '';
      height: 30px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 30px;
    }

    div {
      background: $intro-background-color;
      bottom: 0;
      opacity: 0;
      padding: 15px;
      position: relative;
      transition: all .5s ease-in-out;
      visibility: hidden;
      width: 400px;

      ::before {
        border-style: solid;
        bottom: 7px;
        content: '';
        height: 0;
        position: absolute;
        width: 0;
      }
    }
  }
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

ul {
  li {
    &.in-view {
      div {
        opacity: 1;
        transform: none;
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  ul {
    li {
      div {
        width: 250px;
      }

      &:nth-child(even) {
        div {
          left: -289px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  ul {
    li {
      margin-left: 20px;

      div {
        width: calc(100vw - 91px);
      }

      &:nth-child(even) {
        div {
          left: 45px;

          ::before {
            border-color: transparent $intro-background-color transparent transparent;
            border-width: 8px 16px 8px 0;
            left: -15px;
          }
        }
      }
    }
  }
}
