---
layout: default
---

{% for post in site.posts %}
  <div class="article">
    <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
    <div class="info">
      <div class="date">[TODO: Calendar icon] {{ post.date | date: "%d.%m.%Y" }}</div>
      <div class="categories">[TODO: Tag icon] {{ post.categories }}</div>
    </div>
    <div class="article-image"><img src="{{ post.image }}" alt="post.image_text"></div>
    <div class="story">{{ post.content }}</div>
  </div>
{% endfor %}
