---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <date>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      <day>{{ page.date | date: "%-d" }}</day>
      <month>{{ page.date | date: "%b" }}<br>{{ page.date | date: "%Y" }}</month>
    </time>
  </date>

  <main>
    <header><h1 itemprop="name headline">{{ page.title | escape }}</h1></header>
    <content itemprop="articleBody">{{ content }}</content>
  </main>
</article>
