---
layout: default
---

<div class="article">
  <h1><a href="{{ post.url | relative_url }}">{{ page.title | escape }}</a></h1>
  <div class="info">
    <div class="date">Kirjoitettu: {{ page.date | date: "%d.%m.%Y %H:%M" }}</div>
    <div class="tags">Tagit: {% for tag in page.tags %}<div class="tag">{{ tag }}, </div>{% endfor %}</div>
  </div>
  {% if page.image %}<div class="article-image"><img src="{{ page.image }}" alt="page.image_text"></div>{% endif %}
  <div class="story">{{ page.content }}</div>
</div>
